# version: '3.8'
# Copyright (C) 2025 Joan Pastor
# License LGPL-3.0 or later (https://www.gnu.org/licenses/lgpl-3.0.html).

services:
  database:
    image: postgres:15
    expose:
      - "5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - "./data/postgres_db:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      start_period: 20s
      timeout: 60s
    networks:
      - dokploy-network
    restart: always

  odoo:
    build:
      context: .
      dockerfile: ./dockerfile.odoo
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "8069:8069"
      - "8071:8071"  # Livechat
    environment:
      ODOO_RC: /etc/odoo/odoo.conf
      DB_HOST: database
      DB_PORT: 5432
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - "./entrypoint.sh:/entrypoint.sh:ro"
      - "./data/config:/etc/odoo"
      - "./data/odoo_files:/var/lib/odoo"
      - "./addons:/mnt/extra-addons"
      - "./music:/music"
    networks:
      - dokploy-network
    restart: always

  navidrome:
    image: deluan/navidrome:latest
    # user: 1000:1000
    ports:
      - "4533:4533"
    environment:
      # Navidrome developing
      ND_DATAFOLDER: /data
      ND_MUSICFOLDER: /music
      ND_LOGLEVEL: warning

      # Navidrome behaviour
      ND_DEFAULTSHAREEXPIRATION: 24h
      ND_SCANINTERVAL: 1h
    volumes:
      - "./data/navidrome:/data"
      - "./music:/music:ro"
    networks:
      - dokploy-network
    restart: unless-stopped

networks:
  dokploy-network:
    external: true
