
/* Designs */
.form-bg-decoration {
    background: url("/music_manager/static/src/img/form-bg.png") no-repeat top right;
    background-size: 1080px;
}

.o_form_view .o_form_sheet {
    background-color: #ffffffa1 !important;
}

.crop-image-preview img {
    object-fit: cover !important;
    object-position: center !important;
    aspect-ratio: 1 / 1;
}

/* Animations */
@keyframes heartbeat {
    0%   { transform: scale(1); }
    25%  { transform: scale(1.2); }
    40%  { transform: scale(0.9); }
    60%  { transform: scale(1.15); }
    100% { transform: scale(1); }
}

.heartbeat {
    animation: heartbeat 1s 3;
    transform-origin: center;
}

.heartbeat:hover {
    animation-play-state: paused;
}